/*------------------- IMPORT SECTION -------------------*/
@import url(./fonts.css);

/*------------------- ROOT  -------------------*/
:root{
    --header-font: 'Candara', Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    --body-font: 'Calibri',Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
    --background:#19191c;
    --title-box: transparent;
    --sidebar: #222d5b;
    --divider: #1bba6d;
    --content-box:#292c42;
    --content-text:#f6fbff;
    --text: #ffffff;
    --footer: #222d5b;
    --shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    --h1-grad: linear-gradient(90deg, #bdc0c2 0%, rgba(189,192,194,0.5) 30%, rgba(189,192,194,0) 70%) 1 stretch;
    --h2-grad: linear-gradient(90deg, #bdc0c2 0%, rgba(189,192,194,0.5) 30%, rgba(189,192,194,0) 60%) 1 stretch;
    --h3-grad: linear-gradient(90deg, rgba(189,192,194,1) 0%, rgba(189,192,194,0.5) 30%, rgba(189,192,194,0) 50%) 1 stretch;
    --h4-grad: linear-gradient(90deg, rgba(189,192,194,1) 0%, rgba(189,192,194,0.5) 20%, rgba(189,192,194,0) 40%) 1 stretch;
    --h5-grad: linear-gradient(90deg, rgba(189,192,194,1) 0%, rgba(189,192,194,0.5) 10%, rgba(189,192,194,0) 30%) 1 stretch;
    --h6-grad: linear-gradient(90deg, rgba(189,192,194,1) 0%, rgba(189,192,194,0.5) 5%, rgba(189,192,194,0) 20%) 1 stretch;
    --grad-width: 3px solid transparent;
    --button-box: #f4f4f4;
    --button-hover: #fdfdfd;
    --button-active: #9cb3a8;
    --button-border: 2px groove #596f1a;
    --button-border-hover: 2px groove #89ac29;
    --button-border-active: 2px groove #3b4a12;
    --url:#f5e8bc;
    --url-hover:#efca52;
    --url-active:#fcec81;
}

/*-------------- PAGE LAYOUT - FORMAT --------------*/
/*###################################################*/
/*##########                               ##########*/
/*##########   Default format is DESKTOP   ##########*/
/*##########                               ##########*/
/*###################################################*/

* {
    box-sizing: border-box;
}

.left {
    float: left;
    width: 15%;
    padding-left: 10px;
}

.right {
	float: left;
	width: 85%;
	padding: 0 25px;
}

.contentleft {
    padding: 10px;
    background-color: var(--content-box);    
}

.contentright {
    padding: 10px;
    background-color: var(--content-box);
}

.middle::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: var(--background);
}

/*------- HEADER BOX -------*/
#header {
    background-color: var(--title-box);
    text-align: center;
}

/*------- HEADER TEXT -------*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
	text-shadow: var(--shadow);
	color: var(--content-text);
}

h1:after {
    content:'';
    display:block;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    border-image: var(--h1-grad);
}

h2:after{
    content:'';
    display:block;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    border-image: var(--h2-grad);
}

h3:after{
    content:'';
    display:block;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    border-image: var(--h3-grad);
    
}

h4:after{
    content:'';
    display:block;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    border-image: var(--h4-grad);
    
}

h5:after{
    content:'';
    display:block;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    border-image: var(--h5-grad);
    
}

h6:after{
    content:'';
    display:block;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;
    border-image: var(--h6-grad);
    
}

/*----------- MENU -----------*/
.menu {
    color: var(--content-text);
}

.buttongrid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(115px, 125px));
    grid-template-rows: repeat(2, 30px);
    grid-auto-rows: 30px;
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
}

[class*="button-"] {
    background-color: var(--button-box);
    border: var(--button-border);
    border-radius: 10px;
    color: var(--content-text);
}

[class*="button-"]:link,
[class*="button-"]:visited {
    background-color: var(--button-box);
    border: var(--button-border);
    text-decoration: none;
}

[class*="button-"]:hover {
    background-color: var(--button-hover);
    border: var(--button-border-hover);
    text-decoration: none;
}

[class*="button-"]:active {
    background-color: var(--button-active);
    border: var(--button-border-active);
    text-decoration: none;
}

/*------- MAIN CONTENT -------*/
.main {
    color: var(--text);
    font-family: var(--body-font);
}

/*------- FOOTER -------*/
#footer {
    background-color: var(--footer);
    color: var(--text);
    text-align: center;
    font-family: var(--body-font);
    width: calc(60% - 20px);
    margin: auto;
}

#footer a {
    color: var(--url);
    text-decoration: none;
}

#footer a:link, 
#footer a:visited {
    color: var(--url);
    text-decoration: none;
}

#footer a:hover {
    color: var(--url-hover);
    text-decoration: underline;
}

#footer a:active {
    color: var(--url-active);
    text-decoration: none;
}

/*-------------- PAGE LAYOUT - TABLET --------------*/
/*###################################################*/
/*############                           ############*/
/*############   TABLET-only formating   ############*/
/*############                           ############*/
/*###################################################*/

@media only screen and (max-width: 768px) {
    .buttongrid {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 140px);
        grid-template-rows: repeat(auto-fit, 40px);
        grid-auto-columns: 120px;
        grid-auto-rows: 40px;
        justify-content: center;
        align-content: center;
    }

    .left, .right, #footer {
      width: 100%;
    }

    .right {
        padding: 0;
    }

    .left {
        padding-left: 0px;
        padding-bottom: 5px;
    }
}

/*-------------- PAGE LAYOUT - MOBILE --------------*/
/*###################################################*/
/*############                           ############*/
/*############   MOBILE-only formating   ############*/
/*############                           ############*/
/*###################################################*/

@media only screen and (max-width: 620px) {
    .buttongrid {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(auto-fit, minmax(30px, 40px));
        grid-auto-columns: 120px;
        grid-auto-rows: 40px;
        justify-content: center;
        align-content: center;
    }
}

/*-------------- TRASHBIN --------------*/
/*######################################*/
/*#########                    #########*/
/*#########  Maybe, maybe not  #########*/
/*#########                    #########*/
/*######################################*/

/* -------------- NAVBOX --------------
#navbox {
    height: 30px;
    width: 80%;
}

ul#navbox {
    list-style-type: none;
    margin: 0;
}

ul#navbox ul {
    height: 100%;
    width: 300px;
}

ul#navbox li {
    display: inline;
    align-content: center;
    border-right: 1px solid #bd1919;
}

ul#navbox li:last-child {
    border-right: none;
}*/